@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}

<div class="container">
    <h4>Set your password</h4>
    <blockquote>
        <strong>
            You do not have a local username/password for this site. <br />Add a local
            account so you can log in without an external login.
        </strong>
    </blockquote>
    <div class="row">
        <form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="col s12">
            <span asp-validation-summary="ModelOnly"></span>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="newpassword" class="validate" type="password" asp-for="NewPassword" />
                    <label for="newpassword" asp-for="NewPassword">New Password</label>
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="confirmpassword" class="validate" type="password" asp-for="ConfirmPassword" />
                    <label for="confirmpassword" asp-for="ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <div>
                <button class="btn waves-effect waves-light green" type="submit" name="action">
                    Set password
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
